.inline-cypht {
    background: var(--bs-body-bg) !important;
    font-family: $font-family-base;
    color: var(--bs-body-color) !important;


    // override colors when not using cypht default theme
    img { opacity: 1 !important; max-width: 100%; }
    ul, li:not(.select2-results__option) { background-color: transparent !important; }
    main, div { border-radius: 0; }
    .ui-widget-content { background-color: $tiki-ui-default-bg !important; }
    .ui-menu-item-wrapper { color: var(--bs-body-color) !important; }
    .ui-state-active { color: $tiki-ui-default-link-active-color !important; }
    .popover-header { color: $popover-header-color !important; }
    .popover-body { color: $popover-body-color !important; }
    .btn-primary {
        color: color-yiq($primary) !important;
        background-color: $primary !important;
        border-color: darken($primary, 7.5%) !important;
        &:hover, &:focus { background-color: darken($primary, 7.5%) !important; }
    }
    .btn-info {
        color: color-yiq($info) !important;
        background-color: $info !important;
        border-color: darken($info, 7.5%) !important;
        &:hover, &:focus { background-color: darken($info, 7.5%) !important; }
    }
    .card { border-color: $card-border-color !important; }
    .card-header { border-color: $card-border-color !important; }
    .card-body {
        .nav-link {
            &, small { color: inherit !important; }
        }
    }
    .dropdown-menu {
        background-color: $dropdown-bg !important;
        border-color: $dropdown-border-color !important;
    }
    .dropdown-divider { border-color: $dropdown-divider-bg !important; }
    .dropdown-header { color: $dropdown-header-color !important; }
    .moduletitle { color: var(--bs-body-color) !important; }
    a:not(.dropdown-item) .icon, .btn-link {
        border-color: transparent !important;
        color: inherit !important;
        &:hover { color: var(--bs-link-hover-color) !important; }
    }
    .nav-tabs {
        border: none !important;
        border-bottom: 1px solid $nav-tabs-border-color !important;
        .nav-link { color: inherit !important; }
        .nav-link.active, .nav-item.show .nav-link { color: var(--bs-link-hover-color) !important; }
        .nav-link:not(.active) { border: none !important; }
    }
    // override colors when not using cypht default theme


    a:not(.btn), a.btn-link {
        color: inherit !important;
        &:hover {
            color: var(--bs-link-hover-color) !important;
            text-decoration: inherit;
        }
    }

    .folders li, .inner_list li {
        color: inherit;
    }

    .flipmodtitle.close, .close {
        height: $btn-close-height; // Bootstrap 5 changed from font to svg button bg.
        width: $btn-close-width;
        &, &:hover, &:focus { color: $btn-close-color !important; }
    }

    .navbar-light .navbar-nav .nav-link {
        color: $navbar-light-color !important;
        &:hover, &:focus { color: $navbar-light-hover-color !important; }
    }
    .navbar-dark .navbar-nav .nav-link {
        color: $navbar-dark-color !important;
        &:hover, &:focus { color: $navbar-dark-hover-color !important; }
    }
    .dropdown-menu .dropdown-item {
        border-radius: 0;
        &, .icon { color: $dropdown-link-color !important; }
        &:hover, &:focus {
            &, .icon { color: $dropdown-link-hover-color !important; }
        }
    }
}

.inline-cypht {
    background: transparent;
    position: relative;
    a:not(.btn):hover {
        text-decoration: $link-hover-decoration !important;
    }
    .content_title {
        overflow: visible; min-height: 50px; max-height: 400px;
        padding: 25px;
        padding-bottom: 5px;
    }

    .folders a, .subject a, .selected_menu a,
    .unread_link, .selected_menu, .manage_folder_link {
        &:not(.btn) {
            color: inherit !important;
            &:hover {
                color: var(--bs-link-hover-color) !important;
                text-decoration: $link-hover-decoration;
            }
        }
    }

    .folder_list, .content_cell, .compose_page, .message_list, .msg_text, .selected_part,
    .server_content, .profile_content, .user_settings,
    .nux_add_account, .imap_server_setup, .pop3_server_setup,
    .configured_server, .add_server {
        background-color: $popover-bg;
        color: $popover-body-color;
    }

    .folder_list, .content_cell { border: 1px solid $input-border-color; }
    .content_cell { max-width: 500px !important; }

    .src_name, .content_title, .list_controls {
        background: $popover-header-bg;
        color: $popover-header-color;
    }
    .src_name { border-left-color: transparent; max-height: 100px; }

    .message_table > tbody > tr > td, .msg_headers, .reply_quote,
    .user_settings table td, .nux_empty_combined_view,
    .empty_list, .profiles_empty, .subtitle {
        color: $popover-body-color;
    }
    .msg_text_inner > table { background-color: #fff; }

    .msg_headers th:hover, .settings_subtitle,
    .server_section { color: inherit !important; }

    .total_unread_count, .unread_count { color: #000; }
    .btn-outline-secondary:hover { color: #fff !important; text-decoration: none;}

    .profile_details th, .msg_date,
    .news_cell .source, .news_cell .from { color: $popover-body-color; }
    .cursor-pointer { cursor: pointer; }

    // message list / text
    .refresh_list, .list_settings_link { padding:0; margin: 5px 2px 0; }
    .toggle_recipients { right: 25px; }
    .msg_date { font-weight: bold; }
    .msg_parts tr:not(:last-child) { border-bottom: 1px solid #444; }
    .part_desc, .part_size, .download_link { margin-left: 25px; }
    .msg_part_icon { padding: 0; margin-left: 5px; }
    .imap_keyword { margin-top: 4px; }
    .msg_headers td { padding-right: 35px; }
    .noselect2 { display: none !important; }

    //Search
    .search_form {
        form {
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
        }
        .search_terms {
            min-width: 100px;
            max-width: 150px;
            margin: 0px;
            margin-bottom: 10px;
        }
    }

    .save_search, .delete_search {
        img { padding: 5px 0 0 5px; }
    }

    .advanced_search_form {
        input[type="radio"], input[type="checkbox"] { margin-right: 5px; }
        label {    margin-right: 10px; }
    }

    .other_section {
        table { width: 100%; white-space: normal; }
        table tr { display: flex; flex-wrap: wrap; }
        table th { width: 40%; }
        table td {
            max-width: 55%;
            label {    width: 130px; }
        }
        .flags { width: 170px; }
    }

    .select2-container { margin-bottom: 0px; }
}

.mobile.tiki-cypht, .mobile.tiki-webmail {
    .content_cell .content_title {
        &, .list_controls {
            background: $popover-header-bg;
            color: $popover-header-color;
        }
    }

    .msg_controls {
        background: $popover-header-bg !important;
    }

    .folder_list {
        background-color: $popover-bg;
        color: $popover-body-color;
        border: 1px solid $input-border-color;

        .src_name {
            background: $popover-header-bg;
            color: $popover-header-color;
            border-left-color: transparent;
        }
    }

    .nux_dev_news table td:last-child {
        border-bottom: 1px solid $input-border-color;
        white-space: normal;
    }
}

//
// Mobile specific
//
.mobile {
    .inline-cypht {
        padding-top: 50px;

        .content_cell {
            padding: 20px 0 20px; border: none;
            display: block !important; min-height: 600px;
        }

        .content_title {
            display: flex; align-items: center;
            padding: 0 10px 0 50px;
            min-height: 60px; max-height: 500px;
            line-height: normal;
            font-size: 115%; font-weight: 500;
            .list_controls { border: none; background: #fff; }
        }

        .sys_messages {
            top: 0; right: 0; width: 100%; min-height: 5px;
            padding-bottom: 15px; white-space: normal;
        }

        // mobile main menu
        .folder_toggle {
            display: block !important; letter-spacing: normal;
            img { width: 24px; height: 30px; margin: -5px 0 0 5px; }
        }

        // mobile home
        .nux_welcome ul { padding-left: 20px; }
        .nux_dev_news table td { display: block; }
        .nux_dev_news table tr {
            &:not(:last-child) td:last-child {
                margin-bottom: 10px; padding-bottom: 10px;
            }
            &:last-child td:last-child { border-bottom: none; }
        }

        // mobile servers
        .nux_empty_combined_view { margin-left: 10px; margin-right: 10px; }
        .settings_subtitle, .server_section { padding-left: 15px !important; }
        .add_server { margin-left: 20px; }
        .server_count { margin-right: 15px; }

        // mobile site settings / profiles
        .user_settings, .edit_profile {
            input[type=text], input[type=email], select,
            textarea { width: 100%; text-align: left; }
        }
        .edit_profile table { width: 100%; }

        // mobile folders
        .folder_dialog { margin-left: 30px; width: 85%; }
        #imap_server_folder { width: 100%; }

        // mobile search
        .search_content {
            padding-top: 0;
            .content_title { display: block; padding-top: 20px; padding-bottom: 10px; }
            .search_form {
                display: block; padding: 0; font-size: 100%;
                select { width: auto; margin: 5px; }
                input[type=submit], input[type=button] { font-size: 80%; }
            }
            #search_terms { margin: 10px 3px 3px; width: 270px; max-width: 100%; }
            .message_table { margin-top: 115px;    }
        }

        .time_section input[type=date] { display: block; margin-bottom: 10px; }
        .timeandor { text-align: left; }
        .targets_section, .other_section, .submit_section,
        .time_section, .source_section, .terms_section {
            padding-left: 30px;
        }

        // mobile compose
        .compose_page { padding: 10px; overflow: hidden; }
        .compose_form { width: 100% !important; padding: 0 !important; }
        .toggle_recipients { right: 10px !important; }
        .compose_bcc, .compose_cc, .compose_subject,
        .compose_to, .compose_body, .compose_server {
            margin: 5px 0;
        }
        .smtp_send { display: block; margin-bottom: 20px; }

        // mobile message list
        .list_settings_link, .refresh_list { width: 20px; height: 20px; }
        .toggle_link { width: auto !important; }
        .message_table > tbody >tr > td { padding-right: 10px; }
        .msg_headers td { padding-right: 10px; }
        .long_header th { white-space: normal; word-break: normal; }
        .msg_controls {
            width: 100%; height: 43px;
            top: 0; left: 0 !important; right: 0;
            padding: 20px 0; margin-left: 90px;
        }
        .news_cell {
            padding-bottom: 15px !important;
            &.checkbox_cell { width: 40px; padding: 14px 10px 10px !important; }
            .msg_date { padding-top: 0; }
            .subject {
                &, & div { padding-bottom: 0px !important; }
            }
        }
        .history_content .news_cell.checkbox_cell { padding: 10px 15px !important; }

        // mobile message text
        .header_links { padding-bottom: 8px; }
        .msg_text { max-width: 100% !important; word-break: break-word; }
        .msg_text_inner { width: 100%; padding: 15px !important; }
        .msg_parts { table-layout: auto; }

        // groupmail
        .groupmail.message_table {
            > tbody > tr > td { padding: 0 75px 0 15px; border: none; }
            thead { display: none; }
            td { width: 100%; }
            tr {
                position: relative; display: flex; flex-wrap: wrap;
                width: 100vw; padding: 0 0 25px;
            }
            td.icon, td.action { position: absolute; width: auto; text-align: right; }
            td.icon { right: 5px; }
            td.action { right: -60px; }
        }
    }


    // mobile main menu animation
    .inner_list { margin-bottom: 0; }
    .src_name {
        max-height: 100px; margin: 0;
        padding-top: 10px; padding-bottom: 10px;
    }

    .folder_cell {
        position: fixed; width: 300px;
        top: 60px; left: -310px;
        overflow: auto; z-index: 1;
        transition: all 1s ease;
        transform: translateX(-300px);

        &.slide-in {
            transition: all 0.5s ease;
            transform: translateX(300px);
        }

        .folder_list {
            display: block !important; width: auto;
            margin-bottom: 50px; font-size: 100%;
            li a { padding-top: 0; }
            .update_message_list, .hide_folders { display: none; }
        }
    }
}

//
// removing unnecessary stuff
//
.tiki-webmail.mobile {
    .box-logo, .pagetitle, .pagetitle + .t_navbar { display: none; }
    .topbar { margin-bottom: 0; }
    #page-header { display: none; }
    #topbar_modules { display: none !important; }
    #row-middle { margin-left: -15px; margin-right: -15px; border: none; }
    #col1 { padding: 0; border: none; }
    #col2, #col3 { margin-left: 15px; margin-right: 15px; }
}

.folder_list .clear_cache {
    font-size: 80%;
    padding-top: 10px;
    float: right;
    margin-left: 5px;
}
